services:
  ml-services:
    build:
      dockerfile: ml-services.Dockerfile
      tags: 
        - 'kevin1252/autarch-ml-services:1.1'

    env_file:
      - .env
    volumes:
      - ./models:/ml-services/models

  web:
    command: bundle exec rails s -b0
    build:
      context: .
      tags:
        - 'kevin1252/autarch:1.5'
      args:
        - RAILS_MASTER_KEY=${RAILS_MASTER_KEY}
    volumes:
      - ./images:/dfg/images
      - ./storage:/dfg/storage
    ports:
      - "3000:3000"
    env_file:
      - .env
    tmpfs:
      - /tmp/pids/

  sidekiq:
    volumes:
      - ./images:/dfg/images
      - ./storage:/dfg/storage
    build:
      context: .
      tags:
        - 'kevin1252/autarch:1.5'
      args:
        - RAILS_MASTER_KEY=${RAILS_MASTER_KEY}
    command: bundle exec sidekiq
    env_file:
      - .env

  redis:
    image: "redis:alpine"

  db:
    build: 
      context: ./db
      tags:
        - 'kevin1252/autarch-db:1.0'

    environment:
      POSTGRES_PASSWORD: root110120

