{% extends "base.html" %}

{% block content %}
<h1>Publications</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for publication in publications %}
      <tr>
        <td>
          {{ publication.title }}
        </td>
        <td>
          {{ publication.author }}
        </td>
        <td>
          <a href="{% url 'publication-detail' publication.id %}">Details</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
