<nav class='nav' aria-label="Page navigation example">

  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="<%= page_path(Page.order(:id).where('id < ?', @page.id).last || @grave.id) %>">Previous</a></li>
    <li class="page-item"><a class="page-link" href="<%= page_path(Page.order(:id).where('id > ?', @page.id).first || @grave.id) %>">Next</a></li>
  </ul>
</nav>
<%= render(FigureViewComponent.new(
            figures: @page.figures,
            image: @page.image
          )) %>
