<nav class='nav' aria-label="Page navigation example">

  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="<%= publication_page_path(@publication, Page.order(:id).where('id < ?', @page.id).last || @grave.id) %>">Previous</a></li>
    <li class="page-item"><a class="page-link" href="<%= publication_page_path(@publication, Page.order(:id).where('id > ?', @page.id).first || @grave.id) %>">Next</a></li>
  </ul>
</nav>
<%= react_component('AddFigures', {
  props: {
    image: @page.image.as_json.merge(href: url_for(@page.image.data)),
    pageFigures: @page.figures.as_json(methods: [:type]),
    page: @page,
    next_url: publication_page_path(@publication, @page)
  }
}) %>
