<p style="color: green"><%= notice %></p>

<table class="table">
  <thead>

  </thead>

  <tbody>
    <% @graves.each do |grave| %>
      <tr>
        <td><%= grave.id %></td>
        <td><%= link_to('Details', grave_path(grave)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
