<div class='row'>
  <div class='col-md-6'>
    <%= render(
      FigureViewComponent.new(highlight_figure: @grave, figures: @grave.page.figures.filter { ['Ceramic', 'StoneTool', 'Artefact'].include?(_1.type) }, image: @grave.page.image)
    ) %>
  </div>

  <div class='col-md-6'>

  </div>
</div>
