<!--Main Navigation-->
<style>
  .leaflet-container {
    height: 100%;
    width: 100%;
  }
  div[data-react-class='SiteMap'] {
    height: 100%;
    width: 100%;
  }
</style>

<header class="mb-10">
  <!-- Section: Split screen -->
  <section class="">

    <div class="container-fluid px-0">
      <div class="row g-0">
        <!-- First column -->
        <div class="col-md-6">
          <h2 class="display-4 pl-5">AutArch</h2>
        </div>
        <div class="col-md-6 vh-100">
          <%= react_component(
            "SiteMap",
            props: {
              sites: Site.all.as_json(include: :graves)
            }
          ) %>
        </div>
      </div>
    </div>

  </section>
  <!-- Section: Split screen -->
</header>
<!--Main Navigation--> <!--Main layout-->
<main>
  <div class="container">

  </div>
</main>
<!--Main layout--> <!--Footer-->
<footer>

</footer>
<!--Footer-->
