<%= render("stepper") %>

<div class="alert alert-primary" role="alert">
  This tab allows you to resize bounding boxes and create new boxes (if necessary) for
  different objects on the page, related to this particular burial.
</div>

<%= react_component(
  "BoxResizer",
  props: {
    image:
      @figure.page.image.as_json.merge(href: @figure.page.image.url),
    grave:
      @figure.as_json(
        methods: [:type],
        include: {
          figures: {
            methods: [:type]
          }
        }
      ),
    sites: Site.all,
    page: @figure.page,
    next_url: wizard_path
  }
) %>
