<%= render("stepper") %>

<div class="alert alert-primary" role="alert">
  This tab shows you the contours of all detected objects that relate to this lithic.
  Make sure that the grave cut is included.
</div>

<div class='row'>
  <div class='col-md-6'>
    <%= react_component(
      "SamPointSelector",
      figure: @figure.as_json(methods: [:type]),
      image: @figure.page.image.as_json(methods: [:url]),
      url: size_figure_sam_contour_path(@figure)
    ) %>
  </div>
  <div class='col-md-6'>
    <%= simple_form_for(@figure, url: wizard_path) do |f| %>
      <%= f.submit("Next", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>
