<%= render("stepper") %>

<div class='row'>
  <div class='col-md-6'>
    <% if @figure.three_d_model.attached? %>
      <div class="online_3d_viewer"
        style="min-height: 600px;"
        model="<%= rails_blob_path(@figure.three_d_model) %>">
      </div>
    <% end %>
  </div>

  <div class='col-md-6'>
    <%= render(
      FigureViewComponent.new(
        figures: @figure.figures,
        image: @figure.page.image,
        contours: true
      )
    ) %>
  </div>
</div>
