@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@import "~bootstrap/scss/bootstrap";

body {
    background-color: #efefef;
}

.page-content {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
