<ol class='stepper'>
  <% wizard_steps.each do |step| %>
    <li class="stepper-item <%= step.to_s == params[:id] ? 'active' : '' %>">
      <h3 class="stepper-title">
        <%= link_to(t(step), grave_update_grave_path(params[:grave_id], step)) %>
      </h3>
    </li>
  <% end %>
</ol>
