<%= render('stepper') %>

<div class="alert alert-primary" role="alert">
  Resize all bounding boxes where necessary and make figures for (if possible) a cross section, north arrow, scale, skeletons.
</div>

<%= react_component('BoxResizer', {
  image: @grave.page.image.as_json(methods: [:href], only: [:id, :width, :height]),
  grave: @grave.as_json(methods: [:type], include: { figures: { methods: [:type]} }),
  sites: Site.all,
  page: @grave.page,
  next_url: wizard_path
}) %>
